<h1>{{title}}</h1>

<!-- <app-dashboard></app-dashboard>
<mat-slide-toggle>Toggle me!</mat-slide-toggle> -->

<div>
  <button mat-raised-button (click)="openDialog()"> Find Tires For My Vehicle
  </button>
  <p>Result from dialog: {{ result }}</p>
</div>
<div class="container">
  <select>
    <option >Select Year</option>
    <option >
       year
    </option>
  </select>
  <select >
    <option >Select Make</option>
    <option >
       make
    </option>
  </select>
  <select >
    <option >Select Model</option>
    <option >
       model
    </option>
  </select>
  <select>
    <option >Select Trim</option>
    <option >
       trim
    </option>
  </select>
</div>


